.calender .h1-calender {
  color: #262521;
  margin-bottom: 3px;
}

.calender {
  background-color: #ffffff;
}

.calender .wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 7%;
  margin-bottom: 10rem;
}

.wrapper iframe {
  border-radius: 10px;
  width: 60%;
  height: 500px;
}

.calender .iframe {
  border: 1px solid lightgray;
  width: 100%;
  height: 400px;
}

@media (max-width: 426px) {
  .wrapper h1 {
    margin-top: 80px;
    margin-bottom: 1rem;
  }
  .wrapper iframe {
    width: 90%;
  }
}

.flipbook-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden; /* Ensures the corners are rounded */
  max-width: 620px; /* Control max width */
  margin: auto; /* Center the container */
}

.flipbook-container iframe {
  display: block; /* Removes extra space below iframe */
  width: 100%;
  height: 400px; /* Adjust height as needed */
  border: none;
}

@media (max-width: 768px) {
  .calender-page-container {
    padding-top: 100px;
  }
}
